<!-- Start: Navbar menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">
        <div class="col d-flex justify-content-start" style="height: 10%; width: 100%;">
            <div class="my-auto">
                <img src="../../assets/icon-login.png" style="height: 25px; width: 25px;"/>
            </div>
            <div class="ms-2 pt-2 my-auto">
                <label for="Username" class="form-label" routerLink="/dashboard">
                    <b>
                        Rizqi Technical-test
                    </b>
                </label>
            </div>
        </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/portfolios-list">Portfolios</a></li>
                <li class="nav-item"><a class="nav-link" active routerLink="/blog-list">Blog</a></li>
                <li class="nav-item"><a class="nav-link" active routerLink="/login">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End: Navbar menu -->

<!-- Start: Body -->
<div class="container flex-row mt-5 w-75 py-3">
    <div class="row justify-content-between">
        <div class="col">
            <h3>
                <b>
                    Add data blog
                </b>
            </h3>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-warning py-2 px-4" routerLink="/blog-add">Tambah Data</button>
        </div>
    </div>
    <div class="mt-4">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Author</th>
                <th scope="col">URL</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="blogList.length == 0">
              <tr>
                <th colspan="6">Data is empty</th>
              </tr>
            </tbody>
            <tbody *ngIf="blogList.length > 0">
                <tr *ngFor="let blog of blogList; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.content }}</td>
                    <td>{{ blog.author }}</td>
                    <td>{{ blog.url }}</td>
                    <td class="ps-3">
                        <button class="text-success me-1" (click)="edit(blog)">
                            <i class="fa fa-edit"></i>
                        </button>
                        
                        <a class="text-danger ms-1"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
              </tbody>
        </table>
    </div>

</div> 
<!-- End: Body -->
